{% extends 'security/layout.html.twig' %}

{% block body %}
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="post" action="{{ path('forgot_password') }}">
                <h2 class="login-title">Mot de passe oublié</h2>
                {% if error %}
                    <div class="alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <input type="email" name="email" placeholder="Email" value="" required autofocus />
                <button type="submit">Valider</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h2>Alors comme ça on oublie son mot de passe ? 😋</h2>
                    <p>Entre ton email pour qu'on puisse t'indiquer la marche à suivre.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

