<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meetings - {{ assemby_name }}</title>
    {{ encore_entry_link_tags('security') }}
</head>
<body>

{% block body %}{% endblock %}



</body>
</html>