{% extends 'security/layout.html.twig' %}

{% block body %}
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="post">
            <h1 class="login-title">Connexion</h1>
            {% if error %}
                <div class="alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <input type="email" name="_username" placeholder="Email" value="{{ last_username }}" required autofocus />
            <input type="password" name="password" placeholder="Mot de passe" required />
            <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit">Je me connecte</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Holà !</h1>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

