{% extends 'security/layout.html.twig' %}

{% block body %}
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="post" action="{{ path('reset_forgot_password', {'token' : token}) }}">
                <h2 class="login-title">Mot de passe oublié</h2>
                <div class="mt-4">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                </div>
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
                <button type="submit">Valider</button>
                {{ form_widget(form._token) }}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h2>Alors comme ça on oublie son mot de passe ? 😋</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

