{% extends 'base.html.twig' %}
{% set navCurrent = 'profile' %}
{% block page_title %}Mon profil{% endblock %}

{% block page_sub_title %}{{ me.person.firstName }} {{ me.person.lastName }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block body %}

    <form action="{{ path('me') }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Mes informations
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="heading-small text-muted mb-4">état civil</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_label(form.first_name) }}
                                        {{ form_widget(form.first_name) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(form.last_name) }}
                                        {{ form_widget(form.last_name) }}
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        {{ form_label(form.birthday) }}
                                        {{ form_widget(form.birthday) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_label(form.gender) }}
                                        {{ form_widget(form.gender) }}
                                    </div>
                                </div>
                                <hr>
                                <h6 class="heading-small text-muted mb-4">Contact</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_label(form.cell_phone) }}
                                        {{ form_widget(form.cell_phone) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_label(form.home_phone) }}
                                        {{ form_widget(form.home_phone) }}
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-md-12">
                                        {{ form_label(form.address_line_1) }}
                                        {{ form_widget(form.address_line_1) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_label(form.address_line_2) }}
                                        {{ form_widget(form.address_line_2) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_label(form.address_line_3) }}
                                        {{ form_widget(form.address_line_3) }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check mr-2"></i> Mettre à jour
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <img src="https://picsum.photos/id/1050/350/120" alt="Image placeholder" class="card-img-top">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="{{ asset('build/user.png') }}" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt--7">
                        <div class="text-center mt-5">
                            <h5 class="h3">
                                {{ me.person.firstName }} {{ me.person.lastName }}
                            </h5>
                            <a href="{{ path('profile_reset_password') }}" class="btn btn-warning">Modifier mon mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock body %}