{% extends 'base.html.twig' %}
{% set navCurrent = 'profile' %}
{% block page_title %}Mot de passe{% endblock %}

{% block page_sub_title %}{{ app.user.person.firstName }} {{ app.user.person.lastName }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('me') }}">Mon profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modification mot de passe</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block body %}

    <form action="{{ path('profile_reset_password') }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Mes informations
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(form.initial_password) }}
                                {{ form_widget(form.initial_password) }}
                            </div>
                            <div class="col-md-12 mt-4">
                                {{ form_label(form.password.first) }}
                                {{ form_widget(form.password.first) }}
                            </div>
                            <div class="col-md-12 mt-4 mb-4">
                                {{ form_label(form.password.second) }}
                                {{ form_widget(form.password.second) }}
                            </div>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check mr-2"></i> Mettre à jour
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock body %}