<div class="modal fade" id="modalOutgoing{{ index }}"  tabindex="-1" role="dialog" aria-labelledby="modalOutgoing{{ index }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orateur(s) sortant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-outgoing"
                 data-prototype="{{ _self.outgoing_prototype(weekend.outgoing.vars.prototype)|e }}"
                 data-weekend-id="{{ index }}"
            >
                {% set id = 0 %}
                {% for outgoing in weekend.outgoing %}
                    <div class="input-group mb-4" id="input-{{ id }}" data-valid="{{ outgoing.vars.valid }}" data-index="{{ index }}">
                        {{ form_widget(outgoing.congregation, {
                            'attr': {'placeholder' : 'Nom de l\'assemblée'}
                            })
                        }}
                        {{ form_widget(outgoing.speaker) }}
                        {{ form_widget(outgoing.speech) }}
                        <a href="#" class="btn btn-outline-danger ml-2 remove-outgoing-speaker"><i class="fas fa-trash"></i></a>
                    </div>
                    {% set id = id + 1 %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <a href="#" class="add-speaker btn btn-primary" data-weekend-id="{{ index }}">
                    Ajout d'un orateur
                </a>
            </div>
        </div>
    </div>
</div>

{% macro outgoing_prototype(p) %}
    <div class="input-group mb-4">
        {{ form_widget(p.congregation, {
            'attr': {'placeholder' : 'Nom de l\'assemblée'}
        })
        }}
        {{ form_widget(p.speaker) }}
        {{ form_widget(p.speech) }}
        <a href="#" class="btn btn-outline-danger ml-2 remove-outgoing-speaker"><i class="fas fa-trash"></i></a>
    </div>
{% endmacro %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}