<div class="modal fade" id="modalOutgoing__name__" data-id="modalOutgoing__name__" tabindex="-1" role="dialog" aria-labelledby="modalOutgoing__name__Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orateur(s) sortant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-outgoing"
                 data-prototype="{{ _self.outgoing_prototype(f.outgoing.vars.prototype)|e }}"
                 data-weekend-id="__name__"
            >
                {% for form in f.outgoing %}
                    <div class="input-group mb-4">
                        {{ form_widget(p.congregation, { 'attr': { 'placeholder': 'Nom de l\'assemblée' } }) }}
                        {{ form_widget(p.speaker) }}
                        {{ form_widget(p.speech) }}
                        <a href="#" class="btn btn-outline-danger ml-2 remove-outgoing-speaker"><i class="fas fa-trash"></i></a>
                    </div>
                {% endfor %}
            </div>

            <div class="modal-footer">
                <a href="#"
                   class="add-speaker btn btn-primary"
                   data-weekend-id="__name__"
                >
                    Ajout orateur sortant
                </a>
            </div>
        </div>
    </div>
</div>

{% macro outgoing_prototype(p) %}
    <div class="input-group mb-4">
        {{ form_widget(p.congregation, { 'attr': { 'placeholder': 'Nom de l\'assemblée' } }) }}
        {{ form_widget(p.speaker) }}
        {{ form_widget(p.speech) }}
        <a href="#" class="btn btn-outline-danger ml-2 remove-outgoing-speaker"><i class="fas fa-trash"></i></a>
    </div>
{% endmacro %}