<div class="buttons_action mb-4">
    <a href="{{ path('program_show', {'id': program.id, 'pdf': true}) }}" class="btn"><i class="fas fa-file-pdf mr-2"></i>Télécharger en PDF</a>

</div>
<div class="content">
{% for w in program.weekends %}
    <table class="table">
        <thead class="thead-mint">
        <tr>
            <th scope="col" class="program-date">{{ w.date|date('d/m/Y') }}</th>
            {% if w.type ==  constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                <th scope="col" >Semaine spéciale</th>
            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
                <th scope="col" >Week-end d'assemblée</th>
            {%  else %}
                <th scope="col" >{{ w.speech.number }} - {{ w.speech.title }}</th>
            {% endif %}
        </tr>
        </thead>
        {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
            <tbody>
            <tr>
                <td><b>Orateur</b></td>
                {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                    <td>{{ w.overseerName }}</td>
                {% endif %}
                {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_EXTERNAL_SPEAKER') %}
                    <td>{{ w.externalName }}</td>
                {% endif %}
                {% if w.type is null %}
                    <td>{{ w.speaker }}</td>
                {% endif %}
            </tr>
            <tr>
                <td><b>Président</b></td>
                <td>{{ w.chairman }}</td>
            </tr>
            {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                <tr>
                    <td><b>Lecteur</b></td>
                    <td>{{ w.reader }}</td>
                </tr>
            {% endif %}

            {% if w.outgoingSpeeches is not empty %}
                <tr>
                    <td>Orateur(s) sortant</td>
                    <td>
                        {% for talk in w.outgoingSpeeches %}
                            <small>{{ talk.speaker }} ({{ talk.congregation }})  <i>{{ talk.speech }}</i></small>
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        {% endif %}
    </table>
{% endfor %}
</div>