{% extends 'base.html.twig' %}

{% set navCurrent = 'programs' %}
{% block page_title %}Réunions du week-end{% endblock %}

{% block page_sub_title %}Programme {{program.startDate|localizeddate('none', 'none', 'FR_fr', null, 'MMMM Y')}} {% endblock %}

  {% block breadcrumb %}
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
              <li class="breadcrumb-item"><a href="{{ path('program_list') }}">Réunions du week-end</a></li>
              <li class="breadcrumb-item active" aria-current="page">Modification</li>
          </ol>
      </nav>
  {% endblock %}


{% block body %}

    <div class="body-content">

        <form action="" method="post" id="formPrograms" data-view="edit">
                <table class="table">
                    <thead>
                    <th></th>
                    <th>Date</th>
                    <th>Discours</th>
                    <th>Orateur</th>
                    <th>Président</th>
                    <th>Lecteur</th>
                    </thead>
                    <tbody class="programs"
                           data-prototype="{{ _self.weekend_prototype(form.weekends.vars.prototype)|e }}"
                           data-modal="{% filter escape %}{% include 'meeting/weekend/program/_outgoing_speech_modal.html.twig' with {'f': form.weekends.vars.prototype} %}{% endfilter %}"
                    >
                    {% set index = 0 %}
                    {% for p in form.weekends %}
                        <tr class="items_section"
                            data-index="{{ index }}"
                        >
                            <td>
                                <span class="date-text"></span>
                                {{ form_widget(p.type) }}
                                {{ form_errors(p.type) }}
                            </td>
                            <td>
                                {{ form_widget(p.date) }}
                            </td>
                            <td class="speech-th">
                                {{ form_widget(p.speech) }}
                                {{ form_errors(p.speech) }}
                                <div class="info-last-time"></div>
                            </td>
                            <td>
                                {{ form_widget(p.speaker) }}
                                {{ form_widget(p.external_name) }}
                                {{ form_widget(p.overseer_name) }}
                                {{ form_errors(p.external_name) }}
                                {{ form_errors(p.overseer_name) }}
                                {{ form_errors(p.speaker) }}
                                <br>
                                <a href="#" class="text-small outgoing-link-{{ index }}" data-target="#modalOutgoing{{ index }}" data-toggle="modal">Orateur(s) sortants</a>


                            </td>
                            <td>
                                {{ form_widget(p.chairman) }}
                                {{ form_errors(p.chairman) }}
                            </td>
                            <td>
                                {{ form_widget(p.reader) }}
                                {{ form_errors(p.reader) }}
                            </td>
                        </tr>
                        {% set vars = {
                            'index': index,
                            'weekend': p
                        } %}
                        {% include 'meeting/weekend/program/_edit_outgoing_speech_modal.twig' with vars %}
                        {% set index = index + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            {{ form_widget(form._token) }}
        </form>
    </div>

    <div id="button_validate">
        <a href="#" class="btn btn-success btn-validate btn-action" data-id="{{ program.id }}"><i class="fas fa-check"></i></a>
        <a href="#" class="submit-form-program-draft btn btn-warning btn-action"><i class="fas fa-pencil-ruler"></i></a>
    </div>

    {% macro weekend_prototype(p) %}
        {{ form_errors(p) }}
        <tr>
            <td>
                <span class="date-text"></span>
                {{ form_widget(p.type) }}
            </td>
            <td>
                {{ form_widget(p.date) }}
            </td>
            <td class="speech-th">
                {{ form_widget(p.speech) }}
                {{ form_errors(p.speech) }}
                <div class="info-last-time"></div>
            </td>
            <td>
                {{ form_widget(p.speaker) }}
                {{ form_widget(p.external_name) }}
                {{ form_widget(p.overseer_name) }}
                {{ form_errors(p.external_name) }}
                <br>
                <span class="launch-modal-span__name__"></span>
            </td>
            <td>
                {{ form_widget(p.chairman) }}
            </td>
            <td>
                {{ form_widget(p.reader) }}
            </td>
        </tr>
    {% endmacro %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('program') }}
    {{ encore_entry_script_tags('outgoing') }}
{% endblock javascripts %}
