{% extends 'base.html.twig' %}

{% set navCurrent = 'programs' %}

{% block page_title %}Réunions du week-end{% endblock %}

{% block page_sub_title %}Programmes{% endblock %}


{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Réunions du week-end</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block body %}

    <div class="body-content mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="icon-check-circle mr-2"></span>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Période</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Dernière modif.</th>
                        <th scope="col">Créé par</th>
                        <td>Status</td>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in programs %}
                        <tr>
                            <td>
                                {{p.startDate|localizeddate('full', 'full', 'FR_fr', 'Europe/Paris', 'MMMM Y')|capitalize }}
                            </td>
                            <td>{{ p.createdAt|date('d/m/Y') }}</td>
                            <td>
                                {% if p.updatedAt != null %}
                                    {{ p.updatedAt|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>{{ p.user.person.firstName }} {{ p.user.person.lastName }}</td>
                            {% if p.draft %}
                                <td><span class="badge badge-secondary">brouillon <i class="fas fa-pencil-ruler ml-2"></i></span></td>
                                {% else %}
                                    <td><span class="badge badge-success">validé <i class="fas fa-check ml-2"></i></span></td>
                            {% endif %}

                            <td>
                                {% if p.draft == false %}
                                    <a href="{{ path('program_show', {'id': p.id}) }}" class="btn btn-primary"><i class="fas fa-eye mr-2"></i>OUVRIR</a>
                                {% endif %}
                                <a href="{{ path('program_edit', {'id': p.id}) }}" class="btn btn-warning"><i class="fas fa-pencil-alt mr-2"></i>MODIFIER</a>
                                <a href="{{ path('program_remove', {'id': p.id}) }}" class="btn btn-danger"><i class="fas fa-pencil-alt mr-2"></i>SUPPRIMER</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="button_add">
        <button type="button" class="btn btn-add btn-danger" data-toggle="modal" data-target="#createProgram">
            <i class="fas fa-plus"></i>
        </button>

    </div>

{% endblock body %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="createProgram" tabindex="-1" role="dialog" aria-labelledby="createProgramLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProgramLabel">Création d'un nouveau programme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="month">Choix du mois</label>
                    <select name="month" id="month" class="form-control">
                        <option value="" disabled selected>Sélectionner un mois</option>
                        <option value="01">Janvier</option>
                        <option value="02">Février</option>
                        <option value="03">Mars</option>
                        <option value="04">Avril</option>
                        <option value="05">Mai</option>
                        <option value="06">Juin</option>
                        <option value="07">Juillet</option>
                        <option value="08">Août</option>
                        <option value="09">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="year">Choix de l'année</label>
                    <select name="year" id="year" class="form-control">
                        <option value="" disabled selected>Sélectionner une année</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="validate" class="btn btn-primary">Créer un programme</a>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block javascripts %}
    {{ encore_entry_script_tags('generate-program') }}
{% endblock javascripts %}
