{% extends 'base.html.twig' %}

{% set navCurrent = 'programs' %}
{% block page_title %}Réunions du week-end{% endblock %}
{% block page_sub_title %}Nouveau programme{% endblock %}



  {% block breadcrumb %}
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
              <li class="breadcrumb-item"><a href="{{ path('program_list') }}">Réunions du week-end</a></li>
              <li class="breadcrumb-item active" aria-current="page">Création</li>
          </ol>
      </nav>
  {% endblock %}


{% block body %}
        <form action=""
              method="post"
              id="formPrograms"
              data-view="{{ form.vars.valid == false ? 'errors-save' : 'save' }}"
              data-number-saturdays="{{ nb_saturdays }}"
              data-saturdays="{{ saturdays|json_encode }}"
              data-month="{{ app.request.get('month') }}"
              data-year="{{ app.request.get('year') }}"
              data-overseer="{{ constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') }}"
              data-external-speaker="{{ constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_EXTERNAL_SPEAKER') }}"
              data-convention="{{ constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') }}"
              data-outgoing-speaker="{{ constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OUTGOING_SPEAKER') }}"
        >
            <table class="table">
                <thead>
                    <th></th>
                    <th>Date</th>
                    <th>Discours</th>
                    <th>Orateur</th>
                    <th>Président</th>
                    <th>Lecteur</th>
                </thead>
                <tbody class="programs"
                       data-prototype="{{ _self.weekend_prototype(form.weekends.vars.prototype)|e }}"
                       data-modal="{% filter escape %}{% include 'meeting/weekend/program/_outgoing_speech_modal.html.twig' with {'f': form.weekends.vars.prototype} %}{% endfilter %}">
                {% for p in form.weekends %}
                    <tr class="items_section">
                        <td>
                            <span class="date-text"></span>
                            {{ form_widget(p.type) }}
                            {{ form_errors(p.type) }}
                        </td>
                        <td>
                            {{ form_widget(p.date) }}
                        </td>
                        <td class="speech-th">
                            {{ form_widget(p.speech) }}
                            {{ form_errors(p.speech) }}
                            <div class="info-last-time"></div>
                        </td>
                        <td>
                            {{ form_widget(p.speaker) }}
                            {{ form_widget(p.external_name) }}
                            {{ form_widget(p.overseer_name) }}
                            {{ form_errors(p.external_name) }}
                            {{ form_errors(p.overseer_name) }}
                            {{ form_errors(p.speaker) }}
                            <br>
                            <span class="launch-modal-span__name__"></span>
                        </td>
                        <td>
                            {{ form_widget(p.chairman) }}
                            {{ form_errors(p.chairman) }}
                        </td>
                        <td>
                            {{ form_widget(p.reader) }}
                            {{ form_errors(p.reader) }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="modals"></div>
            {{ form_widget(form._token) }}
        </form>
    <div id="button_validate">
        <a href="#" class="btn btn-success btn-validate btn-action"><i class="fas fa-check"></i></a>
        <a href="#" class="submit-form-program-draft btn btn-warning btn-action"><i class="fas fa-pencil-ruler"></i></a>
    </div>

    {% macro weekend_prototype(p) %}
        {{ form_errors(p) }}
        <tr>
            <td>
                <span class="date-text"></span>
                {{ form_widget(p.type) }}
            </td>
            <td>
                {{ form_widget(p.date) }}
            </td>
            <td class="speech-th">
                {{ form_widget(p.speech) }}
                {{ form_errors(p.speech) }}
                <div class="info-last-time"></div>
            </td>
            <td>
                {{ form_widget(p.speaker) }}
                {{ form_widget(p.external_name) }}
                {{ form_widget(p.overseer_name) }}
                {{ form_errors(p.external_name) }}
                <br>
                <span class="launch-modal-span__name__"></span>

            </td>

            <td>
                {{ form_widget(p.chairman) }}
            </td>
            <td>
                {{ form_widget(p.reader) }}
            </td>
        </tr>
    {% endmacro %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('program') }}
    {{ encore_entry_script_tags('outgoing') }}
{% endblock javascripts %}