{% extends 'base.html.twig' %}
{% set navCurrent = 'programs' %}
{% block page_title %}Réunions du week-end{% endblock %}

{% block page_sub_title %}Programme {{program.startDate|localizeddate('none', 'none', 'FR_fr', null, 'MMMM Y')}}{% endblock %}


{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('program_list') }}">Programmes réunions du weekend</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{program.startDate|localizeddate('none', 'none', 'FR_fr', null, 'MMMM Y')}}</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block body %}
        <div class="row">
            <div class="col-md-8">
                <div class="buttons_action mb-4">
                    <a href="{{ path('program_show', {'id': program.id, 'pdf': true}) }}" class="btn"><i class="fas fa-file-pdf mr-2"></i>Télécharger en PDF</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}" class="btn btn-warning"><i class="fas fa-pencil-alt mr-2"></i>Modifier</a>
                    <a href="{{ path('program_remove', {'id': program.id}) }}" class="btn btn-danger"><i class="fas fa-trash mr-2"></i>Supprimer</a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                {% for w in program.weekends %}
                                    <table class="table">
                                        <thead class="thead-mint">
                                            <tr>
                                                <th scope="col" class="program-date">{{ w.date|date('d/m/Y') }}</th>
                                                {% if w.type ==  constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                                <th scope="col" >Semaine spéciale</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
                                                <th scope="col" >Week-end d'assemblée</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_MORNING') %}
                                                    <th scope="col" >Assemblée Régionale – Session du vendredi matin</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_AFTERNOON') %}
                                                    <th scope="col" >Assemblée Régionale – Session du vendredi après-midi</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_MORNING') %}
                                                    <th scope="col" >Assemblée Régionale – Session du samedi matin</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_AFTERNOON') %}
                                                    <th scope="col" >Assemblée Régionale – Session du samedi après-midi</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_MORNING') %}
                                                    <th scope="col" >Assemblée Régionale – Session du dimanche matin</th>
                                                {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_AFTERNOON') %}
                                                    <th scope="col" >Assemblée Régionale – Session du dimanche après-midi</th>
                                                {% else %}
                                                <th scope="col" >{{ w.speech.number }} - {{ w.speech.title }}</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
                                        <tbody>
                                            <tr>
                                                <td><b>Orateur</b></td>
                                                {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                                <td>{{ w.overseerName }}</td>
                                                {% endif %}
                                                {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_EXTERNAL_SPEAKER') %}
                                                <td>{{ w.externalName }}</td>
                                                {% endif %}
                                                {% if w.type is null %}
                                                <td>{{ w.speaker }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td><b>Président</b></td>
                                                <td>{{ w.chairman }}</td>
                                            </tr>
                                            {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                            <tr>
                                                <td><b>Lecteur</b></td>
                                                <td>{{ w.reader }}</td>
                                            </tr>
                                            {% endif %}

                                            {% if w.outgoingSpeeches is not empty %}
                                            <tr>
                                                <td>Orateur(s) sortant</td>
                                                <td>
                                                    {% for talk in w.outgoingSpeeches %}
                                                        <small>{{ talk.speaker }} ({{ talk.congregation }})  <i>{{ talk.speech }}</i></small>
                                                        <br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            {% endif %}

                                        </tbody>
                                        {% endif %}
                                    </table>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
