<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
        }

        .body-table-public-talk {
        }
        thead {
            border-spacing: 10px;
            text-align: left;
            background: #575750;
            color: #f1f1f1;
            line-height: 35px;
        }

        .table-public-talk-date {
            width: 25%;
        }

        .talk-week {
            margin-bottom: 20px;
        }
        .mr-4 {
            margin-right: 20% !important;
        }
        .heading {
            font-weight: 700;
            font-size: 1.4em;
            line-height: 45px;
            width: 100%;
        }
        .pd-4 {
            padding-left: 400px;
        }

        .left {
            float: left;
        }

        .mr-4 {
            margin-left: 35%;
        }
        .text-uppercase {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div>
        <div class="heading">
            <div class="">
                <span class="text-uppercase">Discours publics</span>
                <span class="mr-4"> {{p.startDate|localizeddate('none', 'none', 'FR_fr', null, 'MMMM Y')|upper}}</span>
            </div>
        </div>

        <div class="public-talk-content">
            {% for w in p.weekends %}
                <div class="talk-week">
                    <table>
                        <thead>
                        <tr class="pd-4">
                            <th colspan="1" class="table-public-talk-date mr-4">{{ w.date|date('d/m/Y') }}</th>
                            {% if w.type ==  constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                <th colspan="1" class="table-public-talk-speech">Semaine spéciale</th>
                            {% elseif w.type ==  constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                <th scope="col" >Semaine spéciale</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
                                <th scope="col" >Assemblée de circonscription - <em>Amis de la paix (Luc 10:6)</em></th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_MORNING') %}
                                <th scope="col" >Assemblée Régionale – Session du vendredi matin</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_AFTERNOON') %}
                                <th scope="col" >Assemblée Régionale – Session du vendredi après-midi</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_MORNING') %}
                                <th scope="col" >Assemblée Régionale – Session du samedi matin</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_AFTERNOON') %}
                                <th scope="col" >Assemblée Régionale – Session du samedi après-midi</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_MORNING') %}
                                <th scope="col" >Assemblée Régionale – Session du dimanche matin</th>
                            {%  elseif w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_AFTERNOON') %}
                                <th scope="col" >Assemblée Régionale – Session du dimanche après-midi</th>
                            {% else %}
                                <th scope="col" >
                                    {% if w.speech.number %}
                                        {{ w.speech.number }} -
                                    {% endif %}
                                    {{ w.speech.title }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION') %}
                            <tbody class="body-table-public-talk">
                            {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_AFTERNOON') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_AFTERNOON') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_AFTERNOON')
                            %}
                                <tr>
                                    <td><b>Orateur</b></td>
                                    {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') %}
                                        <td>{{ w.overseerName }}</td>
                                    {% endif %}
                                    {% if w.type == constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_EXTERNAL_SPEAKER') %}
                                        <td>{{ w.externalName }}</td>
                                    {% endif %}
                                    {% if w.type is null %}
                                        <td>{{ w.speaker }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}

                                <tr>
                                    <td><b>Président</b></td>
                                    <td>{{ w.chairman }}</td>
                                </tr>
                            {% if w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_OVERSEER') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_AFTERNOON') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_FRIDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_AFTERNOON') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SATURDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_MORNING') and
                                w.type != constant('App\\Meeting\\Weekend\\Entity\\Weekend::TYPE_CONVENTION_SUNDAY_AFTERNOON')
                            %}
                                <tr>
                                    <td><b>Lecteur</b></td>
                                    <td>{{ w.reader }}</td>
                                </tr>
                            {% endif %}

                            {% if w.outgoingSpeeches is not empty %}
                                <tr>
                                    <td>Orateur(s) sortant</td>
                                    <td>
                                        {% for talk in w.outgoingSpeeches %}
                                            <small>{{ talk.speaker }} ({{ talk.congregation }})  <i>{{ talk.speech }}</i></small>
                                            <br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
    </div>
</div>
</body>
</html>
