@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');


html, body {
    height: 100%;
    background-color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}

.title-bold {
    font-weight: 600;
}

.header-box {
    width: 50%;
    margin-bottom: 25px;
}

.header-text {
    color: #003f5c;
}

.site-section {
    width: 96%;
    margin: auto;
    padding-top: 30px;
}

.btn-add {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 60px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 15px;
    font-size: 2.5em;
    box-shadow: #cecece 4px 4px 4px;
}

.btn-action {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 15px;
    font-size: 2.5em;
    box-shadow: #cecece 4px 4px 4px;
}

.btn-validate {
    margin-right: 60px;
}

.submit-form-program-draft {
    margin-right: 120px;
}

.icon-plus {
    margin-top: 25px !important;
}

.jumbotron {
    background: #4A94B0
}

.jumbotron p {
    color: #f1f1ff !important;
}

.jumbotron h1 {
    color: #f1f1ff !important;
}

.thead-mint {
    background-color: #2E567D;
    color: #f1f1f1f0;
}

.program-heading {
    color: #050505;
    font-size: 1.6em;
}

.btn-indigo-dye {
    text-transform: uppercase;
    background-color: #58508d;
    color: #fff;
}

.btn-goldenrod {
    text-transform: uppercase;
    background-color: #ffa600;
    color: #f1f1ff;
}

.btn-red {
    background-color: #EB3333;
    color: #f1f1ff;
}

.hidden {
    display: none;
}

.required {
    font-weight: 700;
}

.jumbotron-custom {
    width: 100%;
    height: 80px;
    background: rgb(176,74,74);
    background: linear-gradient(90deg, rgba(176,74,74,1) 0%, rgba(181,61,61,1) 48%, rgba(210,74,44,0.8687850140056023) 100%);
}

.jumbotron-title {
    text-transform: uppercase;
    padding-left: 15px;
    color: #f1f1f1;
    font-weight: 100;
    font-size: 1.4em;
    padding-top: 20px;
}

.body-title {
    text-transform: uppercase;
    display: block;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    font-size: 1.8em;
    font-weight: 400;
}

.bg-grey {
    background: #f3f3f3;
}

.date-text {
    font-weight: bold;
}

.img-profile-square {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: red;
}