
.nav-open .sidenav
{
    transform: translateX(0px);
}

.nav-open .sidenav-toggler-inner .sidenav-toggler-line:first-child
{
    width: 13px;

    transform: translateX(5px);
}

.nav-open .sidenav-toggler-inner .sidenav-toggler-line:last-child
{
    width: 13px;

    transform: translateX(5px);
}