<form method="post" id="formPerson">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nouveau proclamateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="alert alert-primary mt-3">
                <span class="icon-info_outline mr-2"></span>
                Les champs en gras sont obligatoire.
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.first_name) }}
                            {{ form_widget(form.first_name, {
                                'attr': {
                                    'class': 'first_name'
                                }
                            }) }}
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.last_name) }}
                            {{ form_widget(form.last_name, {
                                'attr': {
                                    'class': 'last_name'
                                }
                            }) }}
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                     <!--   <div class="col-md-6">
                            {{ form_label(form.gender) }}
                            {{ form_widget(form.gender, {
                                'attr': {
                                    'class': 'gender'
                                }
                            }) }}
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            {{ form_label(form.cell_phone) }}
                            {{ form_widget(form.cell_phone) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.home_phone) }}
                            {{ form_widget(form.home_phone) }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {{ form_label(form.address_line_1) }}
                            {{ form_widget(form.address_line_1) }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {{ form_label(form.address_line_2) }}
                            {{ form_widget(form.address_line_2) }}

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {{ form_label(form.address_line_3) }}
                            {{ form_widget(form.address_line_3) }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            {{ form_label(form.birthday) }}
                            {{ form_widget(form.birthday) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.baptism_day) }}
                            {{ form_widget(form.baptism_day) }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            {{ form_label(form.is_baptized) }}
                            {{ form_widget(form.is_baptized) }}

                            {{ form_label(form.is_servant) }}
                            {{ form_widget(form.is_servant) }}

                            {{ form_label(form.is_elder) }}
                            {{ form_widget(form.is_elder) }}
                        </div>
                    </div>-->

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.isSpeaker) }}
                                {{ form_widget(form.isSpeaker) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.isWtReader) }}
                                {{ form_widget(form.isWtReader) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.isOutgoingSpeaker) }}
                                {{ form_widget(form.isOutgoingSpeaker) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.isChairman) }}
                                {{ form_widget(form.isChairman) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-indigo-dye">
                <span class="icon-check-circle mr-2"></span> valider
            </button>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
</form>
