{% extends 'base.html.twig' %}
{% set navCurrent = 'persons' %}
{% block page_title %}Proclamateurs{% endblock %}

{% block page_sub_title %}{{ person.firstName }} {{ person.lastName }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('person_list') }}">Proclamateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifications</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block body %}

    <form action="{{ path('person_edit', {'id': person.id}) }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(form.first_name) }}
                                {{ form_widget(form.first_name) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.last_name) }}
                                {{ form_widget(form.last_name) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                          <!--  <div class="col-md-6">
                                {{ form_label(form.gender) }}
                                {{ form_widget(form.gender) }}
                            </div> -->
                        </div>
                      <!--  <div class="row mt-4">
                            <div class="col-md-6">
                                {{ form_label(form.cell_phone) }}
                                {{ form_widget(form.cell_phone) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.home_phone) }}
                                {{ form_widget(form.home_phone) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                {{ form_label(form.address_line_1) }}
                                {{ form_widget(form.address_line_1) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                {{ form_label(form.address_line_2) }}
                                {{ form_widget(form.address_line_2) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                {{ form_label(form.address_line_3) }}
                                {{ form_widget(form.address_line_3) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                {{ form_label(form.birthday) }}
                                {{ form_widget(form.birthday) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.baptism_day) }}
                                {{ form_widget(form.baptism_day) }}
                            </div>
                        </div>-->
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.isSpeaker) }}
                                    {{ form_widget(form.isSpeaker) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.isWtReader) }}
                                    {{ form_widget(form.isWtReader) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.isOutgoingSpeaker) }}
                                    {{ form_widget(form.isOutgoingSpeaker) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.isChairman) }}
                                    {{ form_widget(form.isChairman) }}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-indigo-dye">
                                    <span class="icon-check-circle mr-2"></span> valider
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
{% endblock body %}