{% extends 'base.html.twig' %}

{% set navCurrent = 'persons' %}
{% block page_title %}Proclamateurs{% endblock %}

{% block page_sub_title %}{{ assemby_name }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proclamateurs</li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block body %}


    <div class="body-content mt-4">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="icon-check-circle mr-2"></span>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in persons %}
                        <tr>
                            <td>{{ p.firstName }} {{ p.lastName|upper }}</td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.cellPhone }}</td>
                            <td>
                                <a href="{{ path('person_edit', {'id': p.id}) }}" class="btn btn-warning"><i class="fas fa-pencil-alt mr-2"></i>MODIFIER</a>

                               {% if app.user.person != p %}
                               <button type="button" class="btn btn-red" data-toggle="modal" data-target="#personDeletion-{{ p.id }}">
                                   <i class="fas fa-times mr-2"></i>DESACTIVER
                               </button>
                               {% endif %}
                               </td>

                        </tr>

                        {# Modal for person deletion #}
                        <div class="modal fade" id="personDeletion-{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactiver un proclamateur</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Veux tu vraiment désactiver <b>{{ p.firstName }} {{ p.lastName }}</b> ?
                                        </p>
                                            <a href="{{ path('person_remove', {'id': p.id}) }}" class="btn btn-red">VALIDER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(persons) }}
                </div>
            </div>
        </div>
    </div>

    <div id="button_add" data-toggle="modal" data-target="#modalSave">
        <span class="btn btn-add btn-red"><span class="fas fa-plus"></span></span>
    </div>


    {# MODAL SAVE PERSON #}
    <div class="modal modal-fluid fade modal-person" id="modalSave" tabindex="-1" role="dialog" aria-hidden="true">
        {% include 'person/_save.html.twig' %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags('person') }}
{% endblock %}
