{% extends 'base.html.twig' %}

{% set navCurrent = 'dashboard' %}

{% block page_title %}
    Tableau de bord
{% endblock %}
{% block page_sub_title %}{{ assemby_name }}{% endblock %}

{% block body %}

    <div class="last-program">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select name="programs" id="selectPrograms" class="form-control">
                                        {% for p in programs %}
                                            <option value="{{ p.id }}" {% if p.startDate|date('m') == "now"|date('m') %} selected {% endif %}>{{p.startDate|localizeddate('none', 'none', 'FR_fr', null, 'MMMM Y')|capitalize }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div id="programContents">
                                    {# BLOCK FOR AJAX REQUEST #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('dashboard_programs') }}.
{% endblock javascripts %}