{% extends 'base.html.twig' %}

{% set navCurrent = 'users' %}
{% block page_title %}Gestion des utilisateurs{% endblock %}

{% block page_sub_title %}{{ assemby_name }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gestions des utlisateurs</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form action="{{ path('save_user') }}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-md-12 mt-4">
                        {{ form_label(form.person) }}
                        {{ form_widget(form.person) }}
                    </div>
                    <div class="col-md-12 mt-4">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles) }}
                    </div>
                    <div class="col-md-12 mt-4">
                        <button type="submit" class="btn btn-success">Créer</button>
                    </div>
                    {{ form_widget(form._token) }}
                </div>
            </form>
        </div>
    </div>


{% endblock body %}